<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist - Login</title>
    <link rel="stylesheet" href="/login-page.css">
</head>
<body>
<form th:action="@{/wishlist/login}" method="post">
    <h1>Login</h1>
    <div th:if="${wrongCredentials}" style="color: red;">
        Forkert brugernavn eller adgangskode.
    </div>
    <a href="/wishlist/" class="home">Gå tilbage</a>

    <div>
        <label for="username">Brugernavn:</label>
        <input type="text" name="username" id="username" required/>
    </div>

    <div>
        <label for="password">Adgangskode:</label>
        <input type="password" name="password" id="password" required/>
    </div>


    <button type="submit">Login</button>
    <button>Glemt kode</button>
    <button type="button"
            onclick="window.location.href='/wishlist/register'">
        Opret bruger
    </button>

</form>

</body>
</html>