<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist - Opret bruger</title>
    <link rel="stylesheet" href="/register-page.css">
</head>
<body>
<form th:action="@{/wishlist/register}" method="post" th:object="${user}">

    <h1>Opret ny bruger</h1>
    <div th:if="${registrationError}" style="color: red;">
        Brugernavn er allerede taget.
    </div>
    <a th:href="@{/wishlist}" class="home">Gå tilbage</a>
    <div>
        <label for="username">Brugernavn:</label>
        <input type="text" th:field="*{username}" id="username" required/>
    </div>

    <div>
        <label for="password">Adgangskode:</label>
        <input type="password" th:field="*{password}" id="password" required/>
    </div>

    <button type="submit">Opret bruger</button>

</form>

</body>
</html>